.html,
body {
  background-color: whitesmoke;
}

.topNav{
  background-color: rgb(29, 29, 29);
  overflow: hidden;

}

.topNav a{
  border-radius: 10px;
  float: right;
  color: #f2f2f2;
  text-align: center;

  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

.topnav a:hover {
  background-color: #fff;
  color: black;
  
}

.topnav a.active {
  background-color: #ff84c8;
  color: black;

}

.contact{

  color: #000;
  margin: 20px;
  font-weight: 100;
  font-family: fantasy;
  display: flex;
  align-content: center;
  justify-content: center;
}

.par1{
  font-weight: 500;
  font-size: 80px;
}

.par2{
  font-weight: 500;
  font-size: 25px;
}

.h2C {
  color: #000;
  margin: 50px;
  font-family: fantasy;
  display: flex;
  align-content: center;
  justify-content: center;
}

.unityI {
  width: 156px;
  height: 156px;
}

.divImg {
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.divP{
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  justify-content: center;
} 

.divForm{
  display: flex;
  justify-content: center;
}
.divBtn {

  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 25px;
}

#btnLearn {
  margin-right: 50px;
}

#cabecera {
  float: left;
  width: 550px;
}

#fphar{
  height: 100px;
}